{% extends "landingpage/header.html" %}

{% block content %}
<h1>PT</h1>
<div id="table">
    <meta charset="utf-8">
    <title>SheetJS Table Export</title>
    <table id="tracker">
        <tbody>
            <tr>
                <td colspan="10" t="s" id="sjs-A1"><span contenteditable="true">NDT Experience Log</span></td>
            </tr>
            <tr>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
            </tr>
            <tr>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td t="s" id="sjs-H3"><span contenteditable="true">MT</span></td>
                <td t="s" id="sjs-I3"><span contenteditable="true"></span></td>
                <td t="s" id="sjs-J3"><span contenteditable="true">PT</span></td>
                <td t="s" id="sjs-I3"><span contenteditable="true">X</span></td>
            </tr>
            <tr>
                <td colspan="5" t="s" id="sjs-A4"><span contenteditable="true">NAME: </span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
            </tr>
            <tr>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
            </tr>
            <tr>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td t="s" id="sjs-H6"><span contenteditable="true">ET</span></td>
                <td t="s" id="sjs-I6"><span contenteditable="true"> </span></td>
                <td t="s" id="sjs-J6"><span contenteditable="true">UT</span></td>
            </tr>
            <tr>
                <td colspan="5" t="s" id="sjs-A7"><span contenteditable="true">ORGANIZATION:</span></td>
                <td><span contenteditable="true"></span></td>
                <td t="s" id="sjs-G7"><span contenteditable="true"> </span></td>
                <td><span contenteditable="true"></span></td>
                <td t="s" id="sjs-I7"><span contenteditable="true"> </span></td>
                <td><span contenteditable="true"></span></td>
            </tr>
            <tr>
                <td colspan="10" t="s" id="sjs-A8"><span contenteditable="true"> </span></td>
            </tr>
            <tr>
                <td t="s" id="sjs-A9"><span contenteditable="true">DATE</span></td>
                <td t="s" id="sjs-B9"><span contenteditable="true">TASK ID</span></td>
                <td t="s" id="sjs-C9"><span contenteditable="true">HRS</span></td>
                <td t="s" id="sjs-D9"><span contenteditable="true">T/HRS</span></td>
                <td t="s" id="sjs-E9"><span contenteditable="true">VERIFIED BY</span></td>
                <td colspan="5" t="s" id="sjs-F9"><span contenteditable="true">REMARKS</span></td>
            </tr>
            <tr>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
            </tr>
            <tr>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
            </tr>
            <tr>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
            </tr>
            <tr>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
            </tr>
            <tr>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
            </tr>
            <tr>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
            </tr>
            <tr>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
            </tr>
            <tr>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
            </tr>
            <tr>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
            </tr>
            <tr>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
            </tr>
            <tr>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
            </tr>
            <tr>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
            </tr>
            <tr>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
            </tr>
            <tr>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
            </tr>
            <tr>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
            </tr>
            <tr>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
            </tr>
            <tr>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
            </tr>
            <tr>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
            </tr>
            <tr>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
            </tr>
            <tr>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
            </tr>
            <tr>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
            </tr>
            <tr>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
            </tr>
            <tr>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
            </tr>
            <tr>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
            </tr>
            <tr>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
            </tr>
            <tr>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
            </tr>
            <tr>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
            </tr>
            <tr>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
            </tr>
            <tr>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
            </tr>
            <tr>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
            </tr>
            <tr>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
            </tr>
            <tr>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
            </tr>
            <tr>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
            </tr>
            <tr>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
            </tr>
            <tr>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
            </tr>
            <tr>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
            </tr>
            <tr>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
            </tr>
            <tr>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
            </tr>
            <tr>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
            </tr>
            <tr>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
                <td><span contenteditable="true"></span></td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}