{% load staticfiles %}
{% block content %}
<meta charset="utf-8">
<style>

.counties {
    stroke: black;
    stroke-width: 1px;
  fill: none;
}

.states {
  fill: none;
  stroke: rgb(12, 12, 12);
  stroke-linejoin: round;
}

</style>
<svg width="960" height="600"></svg>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
<script src="https://d3js.org/topojson.v2.min.js"></script>
<script>

    var count_color = {};
var svg = d3.select("svg"),
    width = +svg.attr("width"),
    height = +svg.attr("height");

var pay = d3.map();

var path = d3.geoPath();

var x = d3.scaleLinear()
    .domain([1, 10])
    .rangeRound([600, 860]);

    svg.append("rect")
    .attr("class", "background")
    .attr("fill",'#D3D3D3')
    .attr("width", width)
    .attr("height", height);
//[22,23.62,25.25,26.87,28.5,29,30.12,31.75,33.37]
var thresholds = [22,23,24,25,26,27,28,29,30];
var color = d3.scaleThreshold()
.domain(thresholds)
.range(d3.schemeGreens[9]);
var g = svg.append("g")
    .attr("class", "key")
    .attr("transform", "translate(0,40)");

    var legend = svg.selectAll("g.legend")
    .data(thresholds)
    .enter().append("g")
    .attr("class", "legend");
  
    var ls_w = 20, ls_h = 20;
  
    legend.append("rect")
    .attr("x", 850)
    .attr("y", function(d, i){ return height - (i*ls_h) - 2*ls_h;})
    .attr("width", ls_w)
    .attr("height", ls_h)
    .style("fill", function(d, i) { return color(d); })
    .style("opacity", 0.8);
  
    legend.append("text")
    .attr("x", 849)
    .attr("y", function(d, i){ return height - (i*ls_h) - ls_h - 3;})
    .text(function(d, i){ return '____$' + thresholds[i]; });    
    //['____ $22','____ $23.62','____ $25.25','____ $26.87','____ $28.5','____ $29','____ $30.12','____ $31.75','____ $33.37']
/*
g.selectAll("rect")
  .data(color.range().map(function(d) {
      d = color.invertExtent(d);
      if (d[0] == null) d[0] = x.domain()[0];
      if (d[1] == null) d[1] = x.domain()[1];
      return d;
    }))
  .enter().append("rect")
    .attr("height", 8)
    .attr("x", function(d) { return x(d[0]); })
    .attr("width", function(d) { return x(d[1]) - x(d[0]); })
    .attr("fill", function(d) { return color(d[0]); });
*/
g.append("text")
    .attr("class", "caption")
    .attr("x", x.range()[0])
    .attr("y", -6)
    .attr("fill", "#000")
    .attr("text-anchor", "start")
    .attr("font-weight", "bold")
    .text("Federal Wage Grade Pay 2016");

g.append("text")
    .attr("class", "caption")
    .attr("x", x.range()[0])
    .attr("y", 6)
    .attr("fill", "#000")
    .attr("text-anchor", "start")
    .text("Based on WG-10 top pay, by county");

g.append("text")
    .attr("class", "caption")
    .attr("x", x.range()[0])
    .attr("y", 18)
    .attr("fill", "#000")
    .attr("text-anchor", "start")
    .text("Colored by pay rate above set thresholds");

g.call(d3.axisBottom(x)
    .tickSize(13)
    .tickFormat(function(x, i) { return i ? x : x + "%"; })
    .tickValues(color.domain()))
  .select(".domain")
    .remove();

d3.queue()
    .defer(d3.json, "{% static '/data/us-counties.v3.json' %}")
    .defer(d3.csv, "{% static '/data/2016.csv' %}", function(d) { pay.set(add_zero(d.id), +d.rate); })
    .await(ready);

function ready(error, us) {
  if (error) throw error;

  svg.append("g")
      .attr("class", "counties")
    .selectAll("path")
    .data(topojson.topology(us.objects.collection))
    .enter().append("path")
      .attr("fill", function(d) {
          c = color(d.rate = pay.get(d.id))
          if(count_color[c]){count_color[c]++;}
          else{count_color[c]= 1;}
          
        return c; })
      .attr("d", path)
    .append("title")
      .text(function(d) { return '$' + d.rate; });

  
}
function add_zero(id){
  if (id.length == 4){
    return '0'+ id;
  }
  return id;
};
console.log(count_color)
</script>
{% endblock %}